@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profili Düzenle</h4>
            <br />
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Ad Soyad</label>
                    <input type="text" asp-for="@Model.nameSurname" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Kullanıcı Adı</label>
                    <input type="text" asp-for="@Model.userName" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <input type="text" asp-for="@Model.mail" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Yeni Şifre</label>
                    <input type="text" asp-for="@Model.password" class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Resim Yolu</label>
                    <input type="text" asp-for="@Model.imageUrl" class="form-control"></input>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>


